<div [@routerTransition]>
    <app-page-header [heading]="'Tutorials'" [icon]="'fa-edit'"></app-page-header>

    <div class="row">






        <div class="jumbotron">
            <h1>The age of digital money</h1>
            <br><br>
            <p>If money today is digital, how does it work? A file represents a dollar. If that so it can
                copy million times and have million dollars.
                This is called "Double spend problem".
                The solution used is centralized on this ledger in the computer.</p>
        </div><br><hr><br>
        <div class="jumbotron">
            <h1>Invention of Bitcoin?</h1>
            <br><br>
            <p>2008, Satoshi Nakamoto gave a solution without a centralizing. He called it as "Bitcoin"
                which is a decentralized solution.</p>
        </div>


        <br><br>

        <iframe src="https://www.youtube.com/embed/Gc2en3nHxA4?ecver=2"  width="541" height="360" frameborder="0"  allowfullscreen></iframe>


        <br><br><hr><br><br>

        <div class="jumbotron">
            <h1>What is Bitcoin?</h1>
            <br><br>
            <p>Simply Bitcoin is "The first decentralized digital currency".
                In bitcoin, the coins (or rather the transactions) are all recorded in a ledger.
                This ledger is public and shared and it is maintained by the public.
                In Bitcoin, instead of accounts, money is moved between addresses like emails.
                This has very high security and it is difficult to hack because it stored as a "Blockchain".</p>
        </div>
        <br><br>


        <div class="jumbotron">
            <h1>Who accepts Bitcoin?</h1>
            <br><br>
            <p>Businesses have started accepting it all around the world.
                There are web sites help you find Bitcoin accepting businesses.
                Also can used to book hotels on Expedia, shop for furniture on Overstock and buy Xbox games.
                Many marketplaces called "bitcoin exchanges" allow people to buy or sell bitcoins  using different currencies.</p>
        </div>

        <div class="jumbotron">
            <h1>Owning Bitcoins</h1>
            <br><br>
            <p>Bitcoins are stored in a "digital wallet", which exists either in the cloud or on a user's computer.
                The wallet is a kind of virtual bank account that allows users to send or receive bitcoins, pay for goods or save their money.</p>
        </div>


        <div class="jumbotron">
            <h1>Terminologies</h1>
            <br><br>
            <p>Bid - Price a trader is willing to purchase a bitcoin</p>
            <p>Ask - Price a seller is willing to sell a bitcoin</p>
            <p>Last Price - Latest market value of a bitcoin</p>
            <p>Spread - Difference between ask and bid as a percentage of ask</p>
            <p>High – Highest value of a bitcoin during a given time period</p>
            <p>Low – Lowest value of a bitcoin during a given time period</p>
            <p>Open – Starting value of a bitcoin during a given period</p>
            <p>Close – Ending value of a bitcoin during a given period</p>
        </div>







    </div>
    <!-- /.row -->
</div>
<div>


</div>
